.dashboard-card{


padding:25px;


border-radius:22px;


color:white;


transition:.35s;


box-shadow:

0 15px 35px rgba(0,0,0,.15);


cursor:pointer;


}



.dashboard-card:hover{


transform:

translateY(-10px);


}



/* CARD COLORS */


.card-doctors{


background:

linear-gradient(
135deg,
#2563eb,
#60a5fa
);


}



.card-patients{


background:

linear-gradient(
135deg,
#16a34a,
#4ade80
);


}



.card-appointments{


background:

linear-gradient(
135deg,
#9333ea,
#c084fc
);


}



.card-admissions{


background:

linear-gradient(
135deg,
#ea580c,
#fb923c
);


}



.card-medicine{


background:

linear-gradient(
135deg,
#db2777,
#f472b6
);


}



.card-billing{


background:

linear-gradient(
135deg,
#0891b2,
#22d3ee
);


}



/* BOX */


.dashboard-section{


background:white;


border-radius:22px;


padding:25px;


margin-bottom:25px;


box-shadow:

0 10px 30px rgba(0,0,0,.10);


}